/Motores/M1V1-features_vibracao_rpm_fft.xlsx
/Motores/M1V1-vibration_data.csv
/Motores/M1V2-dados_vibracao.csv
/Motores/M1V2-dados_vibracao.csv
/Motores/M1V2-features_vibracao_rpm_fft.xlsx
/Motores/M1V3-dados_vibracao.csv
/Motores/M1V3-features_vibracao_rpm_fft.xlsx
Amostras.py
analiseDeDadosNew
Caderno de Análise de Vibrações.docx
Curiosidade.m
dados_20260523_104843.csv
dados_com_tempo.csv
dashboard.py
DataTeste.m
EDITOR.py
Exploratory_Analysis.asv
M2a.csv
M2b.csv
M2c.csv
Motor_Features.csv
Mteste.csv
server.py